{% extends "file_manager/base.html" %}

{% block content %}

<div class="jumbotron">
  <div>
      <h1 >Invoice: #{{ details.invoice }} {{ details.customer }}: {{ details.date }}</h1>
  </div>
  <br>
      <p>{{ details.lg_boxes }} Large Boxes</p>
      <p>{{ details.xl_boxes }} XL Boxes</p>
      <p>{{ details.lg_dollies }} Large Dollies</p>
      <p>{{ details.labels }} Labels</p>
      <p>{{ details.zip_ties }} Zip-Ties</p>
      <p>{{ details.bins }} Bins</p>
      <p>Rental Period: {{ details.rental_period }}</p>
      <p>Delivery Date: {{ details.delivery_date }}</p>
      <p>Delivery Address: {{ details.delivery_street }}, {{details.delivery_apt_suite_other }}
      {{ details.delivery_city }}, {{ details.delivery_state }} {{ details.delivery_zip_code }}</p>
      <p>Pick Up Date: {{ details.pickup_date }}</p>
      <p>Pick Up Address: {{ details.pickup_address }}</p>
      <p>Total: ${{ details.total_price }}0</p>
      <a href="/export/{{ details.invoice }}"  class="btn btn-primary">Save File <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-printer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M11 2H5a1 1 0 0 0-1 1v2H3V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h-1V3a1 1 0 0 0-1-1zm3 4H2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1v1H2a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1z"/>
      <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM5 8a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H5z"/>
      <path d="M3 7.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
        </svg></a>
      <a href="/update_order/{{ details.id }}" class="btn btn-outline-dark">Update</a>
      <a href="/delete_order/{{ details.id }}" class="btn btn-outline-danger">Delete</a>
        <p>
            <h3><a href="/create_events/{{ details.invoice }}" class="btn btn-success">Add To Google Calendar</a></h3>
        </p>
    </div>


{% endblock content %}

